.eco-card {
    background-color: #f0f8f0; 
    border: 1px solid #d1e7d1; 
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
}

.eco-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
}

.eco-card .card-body {
    display: flex; 
    flex-direction: column; 
    flex-grow: 1; 
    justify-content: space-between; 
}

.eco-card .card-title {
    color: #4CAF50; 
    font-weight: bold;
}

.eco-card .card-text {
    color: #666;
}


.card-body .btn {
    font-size: 14px; 
    padding: 12px 24px; 
    margin-right: 10px; 
    border-radius: 30px; 
    color: white; 
    font-weight: bold;
    transition: background-color 0.3s ease; 
    width: 100%; 
}

.eco-card .btn-buy {
    background-color: #66bb6a; 
    border-color: #66bb6a;
}

.eco-card .btn-buy:hover {
    background-color: #4CAF50; 
    border-color: #4CAF50;
}

.eco-card .btn-cart {
    background-color: #66bb6a; 
    border-color: #66bb6a;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 100%; 
}

.eco-card .btn-cart:hover {
    background-color: #4CAF50; 
    border-color: #4CAF50;
}


.eco-card .btn-cart i {
    font-size: 20px; 
    margin-right: 8px; 
}

.eco-card .btn-cart:hover i {
    color: white; 
}

.card-img-top {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px; 
}

@media (max-width: 767px) {
    .eco-card {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
    .eco-card {
        margin-bottom: 30px;
    }
}
 